* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
@font-face {
  font-family: "Freesentation-2ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-4Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-5Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-6SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-7Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* ------------------ */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(img/bg_wall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-y: hidden;
  font-family: "Freesentation-4Regular";
}

h2 {
  font-size: 40px;
  font-family: "Freesentation-4Regular";
}

h2 span {
  font-size: 33px;
}
#imgWrap {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.tem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Freesentation-6SemiBold";
}

.minmax {
  display: flex;
  gap: 20px;
  text-align: center;
  margin-top: 30px;
  font-family: "Freesentation-4Regular";
}

.minmax li {
  width: 80px;
}

#temp_min,
#temp_max {
  font-size: 25px;
  font-family: "Freesentation-6SemiBold";
}

.temp_present {
  font-size: 65px;
}

.icon_box {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid #ddd;
  color: #444;
  position: relative;
  z-index: 10;
}

.info_box {
  position: absolute;
  right: -110px;
  bottom: 0px;
  width: 110px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(90, 90, 90, 0.2);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 0;
  color: #333;
}
.info {
  width: 100%;
}

.info li {
  font-size: 14px;
  padding: 20px 0px;
  line-height: 30px;
}

#place,
#des,
#wind,
#humidity {
  font-size: 18px;
  font-family: "Freesentation-6SemiBold";
}

.day_info {
  width: 50%;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}

#clock {
  height: 100%;
  color: #333;
  font-size: 50px;
  font-family: "Freesentation-4Regular";
}

.ampm {
  font-size: 25px;
  color: #888;
}

#date {
  font-size: 18px;
  height: 30px;
  margin-top: 30px;
  color: #333;
  font-family: "Freesentation-6SemiBold";
}
.btn {
  position: absolute;
  right: 10px;
  top: 20px;
}

button {
  display: block;
  padding: 8px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(90, 90, 90, 0.2);
}

button:hover {
  background-color: rgba(30, 30, 30, 0.5);
  color: #fff;
  transition: 0.3s;
}
